
<p>
    <form action="/admin" method="post">
        <table>
            <thead><b><u>Admin Page</u></b></thead>
            <tbody>
                <tr>
                    <td>
                        <label>Input Username: </label>
                    </td>
                    <td align="right">
                        <input name="username" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Change Username: </label>
                    </td>
                    <td align="right">
                        <input name="usernameNew" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Change Password: </label>
                    </td>
                    <td align="right">
                        <input name="passwordNew" type="password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Change Role: </label>
                    </td>
                    <td align="right">
                        <select name="role">
    <!-- User's current role should be top option-->
    <option value="marriage">Marriage Officiator</option>
    <option value="medical">Medical Practicioner</option>
    <option value="funeral">Funeral Director</option>
    <option value="staff">Staff</option>
    <option value="admin">Admin</option>
</select>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                    <p>Do you want to reset database? Y/N</p>
                        <input name="reset" type="text" />
                    </td>
                    <td align="right">
                        <input value="Confirm Changes" type="submit" />

                    </td>
                </tr>
        

   


</form>
</p>
</center>
